doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body 
  h1 Data insert Successfully
  h3 Full Name is = #{dataList.first_name} #{dataList.last_name}
  h3 Mobile no is = #{dataList.phone_no}
  h3 Email id is = #{dataList.email}
  h3 Address is = #{dataList.street}, #{dataList.city}, #{dataList.state}, #{dataList.country}
  h3 Login id is = #{dataList.login_id}
  h3 Password is = #{dataList.password}